<!doctype html>
<html>
    <head>
        <title>Convertir un fichier Gcode en Niryocode</title>
        <link rel="stylesheet" href="style.css" />

    </head>
    <body>
        <h1>Convertir un fichier Gcode en Niryocode</h1>
        <form method="post" enctype="multipart/form-data" action="/upload">
            <label for="file">sélectionner un fichier Gcode :</label>
            <input type="file" id="file" name="file">
            <br>
            <input type="submit" value="Transformez votre .gcode en Niryocode">
        </form>
    </body>
</html>
