body
{
  background-color: rgb(254,89,93); /* Le fond de la page sera rosé */
  font-size: 2rem;
  letter-spacing: 2px;
  margin: 0;
}

#drop
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  position: fixed;
  width: 100vw;
  z-index: 99;
  height: 100vh;
  background-color: rgb(254,89,93);
  font-family: 'Louis George Cafe Light',Arial,serif;
}

#drop *
{
  cursor: pointer;
}

#boutonFichier
{
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid white;
}

input[type="file"] {
    display: none;
}

.logo{
  float: left;
  height: 8vh;
  width: 8vh;
  margin-left: 15px;
  align-self: center;
}
.containerMarque
{
  align-self: center;
  text-align: center;
  width: 100%;
}
.marque{
  margin: 0;
}
.tetepage{
  display: flex;
  cursor: pointer;
  text-align: center;
  font-family: 'Louis George Cafe Light',Arial,serif;
  background-color: rgb(254,50,80);
  color:white;
  width: 100%;
  height: 10vh;
  box-shadow: 0 0 5px black;
}

/*titre principal des differents cours*/
#titre {
  font-family: 'Louis George Cafe',Arial,serif;
  color:white;
 display:inline-block;
 padding: 15px 15px 15px 15px;
 border: 1px white solid;
 position: absolute;
 top:40%;
 transform:translateX(-50%);
 cursor:pointer;


}
/*post it*/
.pars{
  font-family: 'Louis George Cafe Light',Arial,serif;
  color:black;
  background: rgb(254,89,93);
  border-radius: 30px;
  position: fixed;
  bottom: 7%;
  left: 10%;
  right:10%;
  top:7%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 5;
  overflow-y: scroll;
  word-wrap: break-word;
  border: 1px black solid;
  text-align: justify;
}
/*boutons du post it*/
.boutonpostit{
  font-family: 'Louis George Cafe Light',Arial,serif;
  font-weight: bold;
  border: none;
  background: white;
  position: fixed;
  right: 12%;
  top: 10%;
  cursor:pointer;

}

/*menu des sous chaps*/
.table {
  font-family: 'Louis George Cafe',Arial,serif;
 color:white;
 text-align: center;
 grid-column: 2 / 3;
 margin: 10vh 0;
}



/*les sous chaps en block*/
#containerSousChap{
  font-family: 'Louis George Cafe Light',Arial,serif;
  display: none;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: space-around;
}

/*titre principal au dessus des sous chap*/
.haut{
  font-family: 'Louis George Cafe',Arial,serif;
  cursor:pointer;
  color:white;
  margin-left: 20vw;
  margin-right: 20vw;
  padding-top:10vh;
  padding-bottom:2px;
  padding-right:5px;
  display: none;
  text-align: left;
  border-bottom: 1px white solid;




}
#exporter
{
  height: 7vh;
  align-self: center;
  margin-right: 10px;
  color: white;
  border: 1px solid white;
  font-family: 'Louis George Cafe Light',Arial,serif;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(254,50,80);
}

/*les blocks sous chap*/
.souschap{
  font-family: 'Louis George Cafe Light',Arial,serif;
  margin:10px;
  color:white;
  border: 1px white solid;
  background-color: rgba(0,0,0,.05);
  border-radius: 10px;
  width:20vmax;
  height:300px;
  cursor:pointer;
  overflow: hidden;
}
/*text paragraphe dans les sous chap*/
.info{
  font-family: 'Louis George Cafe Light',Arial,serif;
  font-size:small;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;

}

/*debut pdf*/
.window {
  display: none;
  text-align: center;
  letter-spacing: normal;
  min-width: 21cm;
  background-color: #bbbbbb;
}

.header{
  z-index: 1;
  position:-webkit-sticky;
  position : sticky;
  top: 0;
  border-left: 5px; border-right: 5px; border-bottom: 5px; border-top: 0;
  border-color: #cccccc; border-style: none ridge ridge groove;
  border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;
  background-color: #dddddd;
}

.bord-haut {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #dddddd;
}

.paramètres {
  z-index: 1;
  width: auto;
  text-align: center;
  padding: 10px;
}

.page {
  display: inline-block;
  background-color: white;
  width: 21cm;
  /*height: 29.7cm;*/
  min-height: 29.7cm;
  word-break: break-word;
}

.font {
  font-family: 'Louis George Cafe Light',Arial,serif;
  font-weight: bold;
  font-size: 12pt;
}

.select {
  font-size: 10pt;
}

#palette {
  display: flex;
  position: relative;
  justify-content: space-around;
  width : 100px;
  height : 17px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px;
  border-color: rgba(255, 255, 255, 0.5); border-style: solid;
  border-radius: 5px;
}

#palette div
{
  display: inline;
  width : 20%;
  height : 100%;
  background-color: inherit;
}
#titre1_couleur {
  border-top-left-radius: 2px; border-bottom-left-radius: 2px;
}
#paragraphe_couleur {
  border-top-right-radius: 2px; border-bottom-right-radius: 2px;
}

.taille {
  font-size: 12pt;
}

.style {
  font-style: normal;
}

.police {
  font-family: monospace;
}

.emplacement {
  text-align: left;
}

/* police personnalisé*/

@font-face {

  font-family: 'Louis George Cafe Light';
  src: url('Louis George Cafe Light.ttf');

}
@font-face {
font-family: 'Louis George Cafe';
src: url('Louis George Cafe.ttf')format('truetype');
}
